/*
put css in here to reduce the amout of dom manipulation in the js file
*/
#Menu_Background{
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    z-index: 1600;
    background-color: rgba(0,0,0,0.8);
    flex-direction: column;
    justify-content: center;
    align-items:center;
    display:none;
}


#Menu_Container{
    width:1200px;
    height:300px;
    display: flex;
    flex-direction: row;
    box-shadow:0px 0px 4px 4px rgba(80,80,80,0.1);
    margin-bottom:20px;
}

#Audio_Source_Identifier_Container{
    width: 1170px;
    height:45px;
    box-shadow:0px 0px 4px 4px rgba(80,80,80,0.1);
    background-color: rgba(10,10,10,0.95);
    color:#aaaaaa;
    font-family: sans-serif;
    font-size: 30px;
    padding-left:30px;
    padding-top:10px;
}

.Button{
    width:300px;
    height:100%;
    background-color: rgba(10,10,10,0.95);
    transition:background-color .2s;
    border-top: rgba(0,0,0,0) 4px solid;
    background-size: 100% 100%;
}

.Button:hover{
    background-color: rgba(80,80,80,0.95);
    cursor:pointer;
}

.Button_Selected{
    border-top: #FF5722 4px solid;
}


.bars{
    width:12px;
    height:0px;
    position: fixed;
    bottom:90px;
    background-color: #FF5722;
    z-index: 1502;
    opacity: 0.8;
}

#canvas1{
    z-index: 1502;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color:black;
    width:100%;
    display: none;
}


@media screen and (max-width: 1200px) {
    #Menu_Container{
        width:600px;
        height:150px;
    }
    .Button{
        width:150px;
    }

#Audio_Source_Identifier_Container{
    width: 585px;
    height:23px;
    box-shadow:0px 0px 4px 4px rgba(80,80,80,0.1);
    background-color: rgba(10,10,10,0.95);
    color:#aaaaaa;
    font-family: sans-serif;
    font-size: 15px;
    padding-left:15px;
    padding-top:5px;
    }

}